body {
  max-width: 320px;
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
}

header {
  background:#2e58ff;
}

.chatbox-container {
  max-width: 300px;
  background: #1b0910;
  font-family: sans-serif;
  margin:auto;
  display:flex;
  flex-direction:column;
  border-right: #2e58ff solid 2px;
  border-left: #2e58ff solid 2px;
}

.message-content {
  background:#2e58ff;
  color:whitesmoke;
  border-radius: 10px 10px 10px 0;
  margin: 10 0 0 10px;
  padding: 15px 20px;
}

h1 {
  font-size: 30px;
  text-align: center;
}