body {
  max-width: 320px;
  margin: auto;
  background: #000000;
}

.profile-picture {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.localisation {
  max-width:50%;
  max-width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.ruelle {
  max-width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.gif {
  max-width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

header {
  background:#2e58ff;
  background:#ffa6ff;
  color:#2e58ff;
  margin-bottom: 25px;
  padding: 20px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chatbox-container {
  max-width: 300px;
  background: #1b0910;
  font-family: sans-serif;
  margin:auto;
  display:flex;
  flex-direction:column;
  border-right: #2e58ff solid 2px;
  border-left: #2e58ff solid 2px;
}

.message-box {
  max-width: 75%;
  margin: 0 10px 10px 10px;
}

.message-content {
  background:#2e58ff;
  color:whitesmoke;
  border-radius: 10px 10px 10px 0;
  margin: 10 0 0 10px;
  padding: 15px 20px;
}

.message-box-julia .message-content {
  background:grey;
  border-radius: 15px 15px 0 15px;
}

.message-box-baptiste .message-content {
  background:#2e58ff;
}

.message-hour {
  color:pink;
  font-size: 10px;
}
.message-box-julia .message-hour {
  text-align: right;
}


h1 {
  font-size: 15px;
  text-align: center;
  color:#2e58ff;
}

h2 {
  font-size: 10px;
  text-align: left;
}

footer {
  display: flex;
  justify-content: space-between;
  background: #1b0910;
  position: sticky;
  bottom: 0;
}